html {
    font-size: 1px;
}

body {
    font-size: 40rem;
    font-weight: bold;
}

.main-container {
    padding-top: 50px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 40rem;
}

.element-container .element {
    display: block;
    border-top: 2px solid gray;
    display: flex;
    flex-direction: column;
}
.element-container .element .line {
    padding-top: 10px;
    padding-bottom: 10px;
}
.element-container .element .image-container {
    flex: 0 0 2px;
    visibility: hidden;
}
.element-container .element .image-container .image {
    max-width: 400px;
}
.element-container .element .mems-input {
    display: none;
}
.element-container .element:has(.mems-input:checked),
.element-container .element:hover {
    color: blue;
}
.element-container .element:has(.mems-input:checked) .image-container,
.element-container .element:hover .image-container {
    flex: 1;
    visibility: visible;
}
.element-container .element:active {
    color: lightblue;
}
